.btn {
  height: 60px;
  width: 125px;
  font-size: 1.7em;
  margin-bottom: 35px;
  margin-left: 43%;
}

.form-control {
  height: 50px;
  font-size: 1.3em;
}

hr {
  border-color: coral;
}
 #link {
   font-weight: bold;
   font-variant: small-caps;
 }

 .torrent-name {
   color: #C1333F;
 }
