













<!-- COMMENTED OUT ADD TORRENT CODE -->


<!-- <h2>Create new, update, delete post..</h2>

<div>
  <label>Name:</label>
  <br>
  <input #newName>
</div>

<div>
  <label>Description:</label>
  <br>
  <input #newDescription>
</div>

<div>
  <label>Category:</label>
  <br>
  <input #newCategory>
</div>

<div>
  <label>Magnet:</label>
  <br>
  <input #newMagnet>
</div>

<div>
  <label>Owner:</label>
  <br>
  <input #newOwner>
</div>

<button (click) = "submitForm(newName.value, newDescription.value, newCategory.value, newMagnet.value, newOwner.value); newName.value=''; newDescription.value=''; newCategory.value=''; newMagnet.value='';newOwner.value='';"></button> -->
