<div class="torrent-details-box">

  <div *ngIf="(torrentToDisplay | async).image !== 'default'">
    <h1 class="jumbotron" [ngStyle]="{'background-image': 'url('+getImg(torrentToDisplay | async)+')'}">
      <span class="magneto-jumbo-text"></span>
    </h1>
  </div>


  <div *ngIf="(torrentToDisplay | async).image === 'default'">
    <h1 class="jumbotron">
      <span class="magneto-jumbo-text"></span>
    </h1>
  </div>

  <h1 class="torrent-name-link">
    <span class="torrent-name">{{(torrentToDisplay | async).title}}</span>
    <span class="double-slash">//</span>
    <a [href]="sanitizeUrl(torrentToDisplay | async)">
      <img class="magnet-img" src="../assets/img/magnet.png" alt="Magnet link">
    </a>
  </h1>

  <hr>
  <div class="torrent-page-info">
    <h3 class="torrent-page-description">&nbsp;&nbsp;&nbsp;&nbsp;{{(torrentToDisplay | async).description}}</h3>
  </div>
  <br>
  <h3>Category: {{(torrentToDisplay | async).category}}</h3>
  <h3>File Size: {{(torrentToDisplay | async).filesize}}</h3>

</div>
  <h1>C O M M E N T S</h1>
  <app-add-comment></app-add-comment>
<div *ngFor="let comment of comments | async | commentFilter:torrentId" class="torrent-comments">
  <hr>
  <h2>{{comment.comment}}</h2>
  <h3>sincerely, {{comment.handle}}</h3>
</div>
