<div class="torrent-details-box">

  <div *ngIf="(torrentToDisplay | async).image !== 'default'">
    <h1 class="jumbotron" [ngStyle]="{'background-image': 'url('+getImg(torrentToDisplay | async)+')'}">
      <span class="magneto-jumbo-text"></span>
    </h1>
  </div>


  <div *ngIf="(torrentToDisplay | async).image === 'default'">
    <h1 class="jumbotron">
      <span class="magneto-jumbo-text"></span>
    </h1>
  </div>

  <h1 class="torrent-name-link">
    <span class="torrent-name">{{(torrentToDisplay | async).title}}</span>
    <span class="double-slash">//</span>
    <a [href]="sanitizeUrl(torrentToDisplay | async)">
      <img class="magnet-img" src="//thepiratebay.org/static/img/icon-magnet.gif" alt="Magnet link">
    </a>
  </h1>

  <hr>

  <h3>{{(torrentToDisplay | async).description}}</h3>
  <h4>Category: {{(torrentToDisplay | async).category}}</h4>
  <!-- <h1>{{(torrentToDisplay | async).img}}</h1> -->

  <hr>

  <!-- <div [ngStyle]="{'background-image': 'url('+getImg(torrentToDisplay | async)+')'}">
    things
  </div> -->

</div>
  <h1>C O M M E N T S</h1>
  <app-add-comment></app-add-comment>
<div *ngFor="let comment of comments | async | commentFilter:torrentId" class="torrent-comments">
  <hr>
  <h2>{{comment.comment}}</h2>
  <h3>sincerely, {{comment.handle}}</h3>
</div>
