<h2>Post a New Torrent</h2>

<div>
  <label>Title:</label>
  <br>
  <textarea #newTitle></textarea>
</div>
<br>
<div>
  <label>Category:</label>
  <br>
  <input #newCategory>
</div>
<br>
<div>
  <label>Description:</label>
  <br>
  <textarea #newDescription></textarea>
</div>
<br>
<div>
  <label>File Type:</label>
  <br>
  <input #newFiletype>
</div>
<br>
<div>
  <label>Systems:</label>
  <br>
  <input #newSystems>
</div>
<br>
<div>
  <label>File Size:</label>
  <br>
  <input #newFilesize>
</div>
<br>
<div>
  <label>Magnet Link:</label>
  <br>
  <textarea #newMagnet></textarea>
</div>
<br>
<button class="btn btn-success" (click) = "submitForm(newTitle.value,
newCategory.value,
newDescription.value,
newFiletype.value,
newSystems.value,
newFilesize.value,
newMagnet.value);

newTitle.value='';
newCategory.value='';
newDescription.value='';
newFiletype.value='';
newSystems.value='';
newFilesize.value='';
newMagnet.value='';">Post New Torrent</button>
<br>
<hr>
<br>

<div>
  <app-torrent-list></app-torrent-list>

</div>
