.navbar-header {
  background-image: linear-gradient();
}

#thing {
  background-image: linear-gradient();

}
.navbar-default {
  background-image: linear-gradient(MintCream, MistyRose, Linen, OldLace, LightYellow, LightCyan);
}
