<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Magneto</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="isLoggedIn">
        <a (click)="logout()">{{userName}} (logout)</a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a (click)="login()">Log in</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right" id="thing">
      <li><a routerLink="torrent-list">Torrent List</a></li>
      <li><a routerLink="disclaimer">Disclaimer</a></li>
      <li><a routerLink="admin">Update Post</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
