/* You can add global styles to this file, and also import other style files */
.footer {
  position: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #ffe1ff;
  padding: 15px;
  color: white;
  text-align: center;
}

.jumbotron {
  color: white;
  text-align: center;
  background-image: url("./assets/img/mini-magneto.png");
  background-position: center;
  color: white;
  font-size: 6em;
}

.magneto-jumbo-text {
  color: white;
}
