<div class="jumbotron">
  <h1>WARNING! WARNING! WARNING!</h1>
  <h3>This page is for posting links to LEGAL torrents only!</h3>
  <h4>Posting of copyrighted materials will not be tolerated in any way shape or form.</h4>
  <h5>We are willing to track you down and seek justice for the copyrights that you have violated. You have been warned...</h5>
</div>

<h3>Administrator contact info:</h3>
<hr>
<p>
You can contact the administrators of Magneto Torrents by:
</p>
<div class="panel panel-default">
  <div class="panel-body">
    <p>Mail:  <strong>Magneto Torrents
              1407 Graymalkin Lane,
              Salem Center, NY 13690</strong></p>

    <p>Phone: <strong>555.526.6630</strong></p>

    <p>Email: <strong>magnetotorrents@gmail.com</strong></p>
  </div>
</div>
<hr>
