.jumbotron {
  background-image: linear-gradient(MintCream, MistyRose, Linen, OldLace, LightYellow, LightCyan);
}

.panel-body {
  background-image: linear-gradient(MintCream, MistyRose, Linen, OldLace, LightYellow, LightCyan);
  font-size: 20px
}
